<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039216558637-7lclgpiqtdjavcr4qqvunhrfdvcrptqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039216558637-7lclgpiqtdjavcr4qqvunhrfdvcrptqt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039216558637-39h88l0tmpt06f8jaa58kliptdmbiqbf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoyVW503-aCXfl27qo1FdZ43uBvu0WoIk</string>
	<key>GCM_SENDER_ID</key>
	<string>1039216558637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.doubtsflow</string>
	<key>PROJECT_ID</key>
	<string>doubtsflow</string>
	<key>STORAGE_BUCKET</key>
	<string>doubtsflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039216558637:ios:9294084c605afb7497aea4</string>
</dict>
</plist>